@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="img/van-gogh.jpg" width="250px" height="250px" />
    <h3>Mug</h3>
    <ul class="product-props">
        <li>Price: $9.99</li>
        <li>Artist: Van Gogh</li>
        <li>Title: </li>
        <li>Description: Self-portrait</li>
    </ul>
    <button>Buy</button>
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label><br />
        <input /><br />
        <label>Email:</label><br />
        <input type="email"><br />
        <label for="subject">Subject:</label><br />
        <input type="text" name="subject"><br />
        <label for="message">Message:</label><br />
        <textarea name="message" id="" cols="30" rows="10"></textarea><br />
        <input type="submit" value="Send Message">
    </form>
</div>